html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 300px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -300px; /* negative value of footer height */
	height: 300px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}


.endless_page_current{
    background-color:#68b0ab !important;
    color:#fff !important;
    border-color:rgba(0,0,0,0.2);
    border-top-color:rgba(0,0,0,0.3);
    background-image:none !important;
    box-shadow:inset 0 2px 4px rgba(0,0,0,0.1);
    font-family:"Alegreya Sans",Helvetica, Arial, sans-serif !important;
}

.endless_page_link{
    font-family:"Alegreya Sans",Helvetica, Arial, sans-serif !important;
}

.corner-ribbon{
  width: 75px;
  background: #e43;
  position: absolute;
  text-align: center;
  line-height: 35px;
  letter-spacing: 1px;
  color: #f0f0f0;
text-transform: uppercase;
    font-family:"Alegreya Sans",Helvetica, Arial, sans-serif;
font-weight: 600;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.right{
    border-radius: 0 4px 0 4px;
  right: -1px;
    top: -1px;
  left: auto;
}


.lightgreen{
  background: #8fc0a9;!important
    color:#fff;
    
}

.fontfix{
    font-family:"Alegreya Sans",Helvetica, Arial, sans-serif;
}

.navsearchtext{
    font-family:"Alegreya Sans",Helvetica, Arial, sans-serif;
    height: 30px;
    max-width: 100%;
    padding: 4px 6px;
    border: 1px solid #ddd;
    background: #fff;
    font-size: 13px !important;
    color: #444;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 0;
}

footer {
  position: relative;
    font-family:"Alegreya Sans",Helvetica, Arial, sans-serif !important;
  width: 100%;
  display: block;
  background: #8fc0a9;
  border-top: 4px solid #97cab2; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .logo {
    width: 250px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    margin: 0;
    padding: 0; }
    footer .logo:hover {
      text-decoration: none;
      border-bottom: none; }
    footer .logo:active {
      border-bottom: none; }
    footer .logo img {
      width: 100%;
      height: auto;
      padding: 0;
      margin: 0;
      display: block; }
  footer h1, footer h3, footer h5 {
    color: #ffffff; }
footer h4 {
font-size: 1.2em;
    color: #ffffff;
}
  footer p {
    color: #ffffff; }
  footer p {
    margin: 20px 0 0 0;
    font-weight: 400 !important; }
  footer .footer-header {
    margin-top: -4px;
    margin-bottom: 8px;
    padding-bottom: 12px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.1); }
footer a:visited {
    color: #ffffff; }

footer a:hover {
  text-decoration: none;
  text-shadow: 0 3px 0px rgba(13, 61, 48, 0.2); }
    
  footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none; }
    footer ul li {
      color: #ffffff;
      font-weight: 400; }
      footer ul li span {
        display: inline-block; }
      footer ul li a {
        font-weight: 400;
          color: #ffffff;
        -webkit-transition: all 0.2s ease;
           -moz-transition: all 0.2s ease;
             -o-transition: all 0.2s ease;
                transition: all 0.2s ease; }
        footer ul li a:hover {
          color: #ffffff; }
      footer ul li i {
        width: 1.2em;
        text-align: center;
        color: #ffffff; }
      footer ul li b {
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.8em; }
  footer .footer-bar {
    position: relative;
    width: 100%;
    display: block;
    background: #333333;
    margin-top: 30px;
    color: #ffffff;
    border-top: 4px solid #3c3c3c;
    border-bottom: 4px solid #2a2a2a;
  padding-bottom: 20px;}
    footer .footer-bar:after {
      content: "";
      display: table;
      clear: both; }
    footer .footer-bar span {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 0.8em; }
      footer .footer-bar span.social {
        float: right;
        text-align: left; }
        footer .footer-bar span.social i {
          font-size: 2em;
          margin-top: 0;
          margin-right: 0;
          margin-left: 10px;
            color: #68b0ab !important;
          -webkit-transition: all 0.2s ease;
             -moz-transition: all 0.2s ease;
               -o-transition: all 0.2s ease;
                  transition: all 0.2s ease; }
          footer .footer-bar span.social i:hover {
            color: #ffffff; }

.alert-topic {
  margin-bottom: 15px;
font-family:"Alegreya",serif !important; 
  padding: 5px;
  background: #fff;
  color: #5d6355;
  border: 1px solid rgba(200, 213, 185, 0.3);
  border-radius: 4px;
  text-shadow: 0 1px 0 #ffffff;
}

.topictext{
    font-family: "Alegreya Sans",Helvetica,Arial,serif;
    font-weight: 600;
    font-size: 24px;
    margin-top: -1px;
    margin-left: -1px;
    letter-spacing: 0px;
    border: 1px solid transparent;
    border-bottom-width: 0;
    text-shadow: 0 1px 0 #fff;
}

.alert-topic h1,
.alert-topic h2,
.alert-topic h3,
.alert-topic h4,
.alert-topic h5,
.alert-topic h6 {
  color: inherit;
    font-family:"Alegreya",serif !important; 
    font-weight:600;
}


.footer-link{
color: #68b0ab !important;
}


.navsearchsubmit {
    background-color: #5eb6b0;
    font-weight: 300;
    letter-spacing: 0px;
    font-size: 13px !important;
    color: #fff !important;
    background-image: -webkit-linear-gradient(top, #4ec0b8, #68b0ab);
    background-image: linear-gradient(to bottom, #4ec0b8, #68b0ab);
    border-color: rgba(0,0,0,0.2);
    border-bottom-color: rgba(0,0,0,0.4);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    margin: 0;
    overflow: visible;
    font-family: "Alegreya Sans", Helvetica,Arial,sans-serif;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 12px;
    vertical-align: middle;
    line-height: 28px;
    min-height: 30px;
    text-decoration: none;
    text-align: center;
    background-origin: border-box;
    border-radius: 4px !important;
    border: 1px solid rgba(0,0,0,0.2) !important;
}

.navsearchsubmit:hover{
    color: #333;}

.panelshadow {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    
}

.panelhighlight {
    box-shadow: 0px 1px 10px 8px rgba(104, 176, 171, 0.80);
    
}


.pol-image{
    border-radius: 4px;
    text-align: center;
    max-width: 100%;
    max-height: 230px;
}

.nav-text{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.cbp_tmtimeline {
	margin: 30px 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 10px;
	background: #4a7c59;
	left: 5%;
	margin-left: -10px;
}

.cbp_tmtimeline > li {
	position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 17%;
	padding-right: 125px;
	position: absolute;
    line-height:40px;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span {
	font-size: 2.3em;
	color: #000;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #000;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
	margin: 0 0 0 20%;
	background: #ddd;
	color: #fff;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
	background: #8fc0a9;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #ddd;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #8fc0a9;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
	width: 40px;
	height: 40px;
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	font-size: 1.4em;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	position: absolute;
	color: #fff;
	background: #4a7c59;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #4a7c59;
	text-align: center;
	left: 5%;
	top: 0;
	margin: 0 0 0 -25px;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

	.cbp_tmtimeline > li .cbp_tmtime span:last-child {
		font-size: 1.9em;
	}
}

@media screen and (max-width: 47.2em) {
	.cbp_tmtimeline:before {
		display: none;
	}

	.cbp_tmtimeline > li .cbp_tmtime {
		width: 100%;
		position: relative;
		padding: 0 0 20px 0;
	}

	.cbp_tmtimeline > li .cbp_tmtime span {
		text-align: left;
	}

	.cbp_tmtimeline > li .cbp_tmlabel {
		margin: 0 0 30px 0;
		padding: 10px;
		font-weight: 400;
		font-size: 95%;
	}

	.cbp_tmtimeline > li .cbp_tmlabel:after {
		right: auto;
		left: 20px;
		border-right-color: transparent;
		border-bottom-color: #ddd;
		top: -20px;
	}

	.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
		border-right-color: transparent;
		border-bottom-color: #8fc0a9;
	}

	.cbp_tmtimeline > li .cbp_tmicon {
		visibility: hidden;
	}	
}

@media print {
    

    .pol-image{
        display:none;

}
   
}

.cd-accordion-menu {
  width: 90%;
  background: #4d5158;
  margin: 10px auto;
    padding: 0;
    font-family: "Alegreya Sans", Helvetica, Arial, sans-serif !important;
}
.cd-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
  list-style: none;
}
.cd-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    list-style: none;
}
.cd-accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.cd-accordion-menu label, .cd-accordion-menu a {
  position: relative;
  display: block;
  padding: 18px 18px 18px 64px;
  background: #4d5158;
  box-shadow: inset 0 -1px #555960;
  color: #ffffff;
  font-size: 1.3rem;
}
.no-touch .cd-accordion-menu label:hover, .no-touch .cd-accordion-menu a:hover {
  background: #52565d;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after, .cd-accordion-menu a::after {
  /* icons */
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu label {
  cursor: pointer;
}
.cd-accordion-menu label::before, .cd-accordion-menu label::after {
  background-image: url(../images/cd-icons.svg);
  background-repeat: no-repeat;
}
.cd-accordion-menu label::before {
  /* arrow icon */
  left: 18px;
  background-position: 0 0;
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-accordion-menu label::after {
  /* folder icons */
  left: 41px;
  background-position: -16px 0;
}
.cd-accordion-menu a::after {
  /* image icon */
  left: 36px;
  background: url(../images/file-text.svg) no-repeat;
    background-size: contain;
}
.cd-accordion-menu input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-accordion-menu input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0;
}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.cd-accordion-menu ul label,
.cd-accordion-menu ul a {
  background: #333;
  box-shadow: inset 0 -1px #41444a;
  padding-left: 82px;
}
.no-touch .cd-accordion-menu ul label:hover, .no-touch
.cd-accordion-menu ul a:hover {
  background: #3c3f45;
}
.cd-accordion-menu > li:last-of-type > label,
.cd-accordion-menu > li:last-of-type > a,
.cd-accordion-menu > li > ul > li:last-of-type label,
.cd-accordion-menu > li > ul > li:last-of-type a {
  box-shadow: none;
}
.cd-accordion-menu ul label::before {
  left: 36px;
}
.cd-accordion-menu ul label::after,
.cd-accordion-menu ul a::after {
  left: 59px;
}
.cd-accordion-menu ul ul label,
.cd-accordion-menu ul ul a {
  padding-left: 100px;
}
.cd-accordion-menu ul ul label::before {
  left: 54px;
}
.cd-accordion-menu ul ul label::after,
.cd-accordion-menu ul ul a::after {
  left: 77px;
}
.cd-accordion-menu ul ul ul label,
.cd-accordion-menu ul ul ul a {
  padding-left: 118px;
}
.cd-accordion-menu ul ul ul label::before {
  left: 72px;
}
.cd-accordion-menu ul ul ul label::after,
.cd-accordion-menu ul ul ul a::after {
  left: 95px;
}
@media only screen and (min-width: 600px) {
  .cd-accordion-menu label, .cd-accordion-menu a {
    padding: 24px 24px 24px 82px;
    font-size: 1.6rem;
  }
  .cd-accordion-menu label::before {
    left: 24px;
  }
  .cd-accordion-menu label::after {
    left: 53px;
  }
  .cd-accordion-menu ul label,
  .cd-accordion-menu ul a {
    padding-left: 106px;
  }
  .cd-accordion-menu ul label::before {
    left: 48px;
  }
  .cd-accordion-menu ul label::after,
  .cd-accordion-menu ul a::after {
    left: 77px;
  }
  .cd-accordion-menu ul ul label,
  .cd-accordion-menu ul ul a {
    padding-left: 130px;
  }
  .cd-accordion-menu ul ul label::before {
    left: 72px;
  }
  .cd-accordion-menu ul ul label::after,
  .cd-accordion-menu ul ul a::after {
    left: 101px;
  }
  .cd-accordion-menu ul ul ul label,
  .cd-accordion-menu ul ul ul a {
    padding-left: 154px;
  }
  .cd-accordion-menu ul ul ul label::before {
    left: 96px;
  }
  .cd-accordion-menu ul ul ul label::after,
  .cd-accordion-menu ul ul ul a::after {
    left: 125px;
  }
}
.cd-accordion-menu.animated label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.betaribbon{
  width: 200px;
  background: #4a7c59;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #fff;
text-transform: uppercase;
    font-family:"Alegreya Sans",Helvetica, Arial, sans-serif;
font-weight: 600;
    font-size: 1.2em;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


@media (max-width: 1400px) {
  .betaribbon{
      display:none;
  }
}

.no-margin {
  margin: 0; }